.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.tile .potential-hint .chess-piece {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.tile .potential-hint .chess-piece:hover {
  cursor: grab;
}

.tile .potential-hint .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: rgb(166, 141, 103);
}

.white-tile {
  background-color: whitesmoke;
}

.potential-hint {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.small-hint {
  width: 30%;
  height: 30%;
}

.big-hint {
  width: 100%;
  height: 100%;
}
