.tile {
  display: grid;
  place-content: center;
  width: 70px;
  height: 70px;
}

.tile .chess-piece {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: rgb(166, 141, 103);
}

.white-tile {
  background-color: whitesmoke;
}

.tile .chess-piece-image {
  width: 60px;
}
